{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %} About my blog {% endblock %}
{% block content %}
    <h1 class="card-header"> About my blog </h1>
    <p class="text-muted fst-italic mb-2">
        A blog (a truncation of "weblog") is an informational website consisting
        of discrete, often informal diary-style text entries (posts). Posts are
        typically displayed in reverse chronological order so that the most recent
        post appears first, at the top of the web page.
    </p>
{% endblock %}